@model IEnumerable<Lollygag.Models.Product>

@{
  ViewData["Title"] = "Marketplace Products";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

  function showPopup() {

    $('#product-modal').modal({
    });

  }

</script>

<div id="product-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-content-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: orange;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bowyang: Gaming Platform</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-9">
            <img src="~/images/bowyang-lg.png" />
          </div>
          <div class="col-md-3">
            <p>
              Foundational Gaming
              Platform, used by other
              companies to build
              games. Platform allows
              players to earn crypto
              coins as they play.
              Platform allows
              companies to launch new
              ICOs or leverage existing
              cryptocurrencies
            </p>
            <br />
            <button class="center" type="button" class="btn btn-primary" data-dismiss="modal">Purchase</button>
          </div>
        </div>
      </div>
      @*<div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>*@
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Marketplace Products</h3>
      <hr />
    </div>
  </div>

  <div class="row">

    @foreach (var item in Model)
    {
      <div class="col-md-3">
        <div class="product">
          <div>
            <img src="~/images/@Html.DisplayFor(modelItem => item.LogoUrl)"
                 title="@Html.DisplayFor(modelItem => item.Name):  @Html.DisplayFor(modelItem => item.Description)" />
          </div>
          <div><button onclick="showPopup()" class="btn btn-default">Learn More</button></div>


        </div>
      </div>
    }


    @*<div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>
      <div class="col-md-3">
        <div class="product"></div>
      </div>*@
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <p></p>
      <p class="command-link pull-right">View more products <span class="circle">&gt;</span></p>
    </div>
  </div>

  @*<table class="table">
      <thead>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Description)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.LogoUrl)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.PriceInfo)
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.LogoUrl)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.PriceInfo)
            </td>
          </tr>
        }
      </tbody>
    </table>*@
